
:root {
  --primary: #facf0f;
  --text-main: #111;
  --text-sub: #555;
  --bg-body: #fcfcfc;
  --white: #ffffff;
  --primary-hover: #e6b800; 
  --transition-fast: 0.3s;
  
  --glass-white: rgba(255, 255, 255, 0.532);
  
  --glass-grey: rgba(245, 245, 245, 0.184);

  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.245);
}

h1 {
  color: #333;
}
ul {
  list-style-type: none;   
  padding: 0;
}

button {
    margin-top: 40px;        
  padding: 10px 20px;
 
  font-size: 16px;
  background-color: #212121;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00b0b3;
}

@media (max-width: 600px) {
  body {
    background-color: #e6f7ff;
    padding: 20px;
  }

  button {
    width: 100%;
  }
}
