
:root {
  --primary: #facf0f;
  --text-main: #111;
  --text-sub: #555;
  --bg-body: #fcfcfc;
  --white: #ffffff;
  --primary-hover: #e6b800; 
  --transition-fast: 0.3s;
  
  --glass-white: rgba(255, 255, 255, 0.532);
  
  --glass-grey: rgba(245, 245, 245, 0.184);

  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.245);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;

  background-color: var(--bg-body);
  color: var(--text-main);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  padding: 25px 50px;
  background: var(--white);
  box-shadow: var(--shadow-soft);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: var(--text-main);
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url(./images/Profile.jpeg);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--primary);
  background-color: var(--primary); 
}

.logo-text {
  font-weight: 800;
  letter-spacing: 1px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-main);
  font-weight: 700;
  margin-left: 40px;
  font-size: 0.9rem;
}
.hero-section {
  height: 90vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  background: #f5f5f5 url(./images/bk.png) center/cover no-repeat;
}

.hero-title {
  font-size: clamp(2rem, 8vw, 3.5rem); 
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.hero-subtext {
  font-size: 1.2rem;
  max-width: 800px;
  line-height: 1.6;
  color: var(--text-sub);
  margin-bottom: 40px;
}

.cta-button {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text-main);
  padding: 18px 50px;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.project-card .cta-button {
  padding: 10px 25px; 
  font-size: 0.9rem;
  display: inline-block;
  margin: 5px 0; 
  width: auto; 
}


.project-buttons {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  align-items: center; /* center buttons */
}
.cta-button:hover {
  transform: translateY(-3px);
  background: var(--primary-hover);
}


.projects-section {
  padding: 100px 20px;
  background: var(--white);
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.yellow-line {
  width: 35px;
  height: 5px;
  background: var(--primary);
  margin: 20px auto;
  border-radius: 10px;
}

.project-card {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;

  box-shadow: var(--shadow-soft);
}

