* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

:root {
  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;
  --bg-input: #334155;
  --text-primary: #e2e8f0;
  --text-secondary: #94a3b8;
  --border-color: #475569;
  --accent-primary: #3b82f6;
  --accent-primary: #2563eb;
}

body {
background-color: var(--bg-primary);
display:flex;
justify-content: center;
align-items: center;
min-height: 100vh;
padding : 20px;
font-family: "poppins", sans-serif;
}

.container{
   width : 100%;
   max-width: 400px;
   background-color: var(--bg-secondary);
   padding: 30px;
   border-radius: 15px;
   box-shadow: 0 4px 20px rgb( 0, 0, 0,0.3);

}
h1{
    text-align: center;
    color:var(--text-primary);
    margin-bottom: 20px;
}

